  header{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color:rgb(44, 44, 44);
    font-size: calc(10px + 2vmin);
    color: rgb(34, 255, 244);
    background-color: #282c34;
}

.App-logo{
  margin: 0 px 0 1px;
  align-self: flex-start;
}

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }